<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ticket</title>
	<style>
		body {
			background: #f2f2f2;
			font-family: 'Questrial', sans-serif;
		}

		.mainContent {
			margin: 4em auto 0;
			width: 750px;
			text-transform: uppercase;
		}

		.Ticket {
			background: #f3f1c9;
			width: 750px;
			border-radius: 10px;
			border: 2px solid #222;
			cursor: default;
		}

		.ticketMain {
			display: inline-block;
			width: 750px;
			padding: 10px;
		}

		.ticketHeader {
			display: block;
			width: 710px;
			font: 900 38px 'Montserrat', sans-serif;
			padding: 5px 0 5px 20px;
			letter-spacing: 6px;
			background: #111;
			color: #f3f1c9;
		}

		.Info_Wrap {
			display: inline-block;
			width: 725px;
			height: 170px;
			border: 3px solid;
			border-width: 0 3px 0 0;
		}

		.Info_Wrap2 {
			display: inline-block;
			width: 725px;
			height: fit-content;
			border: 3px solid;
			border-width: 0 3px 3px 0;
		}

		.content {
			display: inline-block;
			width: 575px;
			height: 170px;
		}

		.info_title {
			display: inline;
			font: 400 13px 'Questrial', sans-serif;
			letter-spacing: 0.5px;
		}

		.info_detail {
			font: 700 20px/1 'Jura';
			letter-spacing: 1px;
			margin: 4px 0;
		}

		.info_item_movie {
			display: inline-block;
			border: 3px solid;
			width: 568px;
		}

		.info_item_price {
			display: inline-block;
			border-left: 3px solid;
			border-bottom: 3px solid;
			border-right: 3px solid;
			width: 115px;
		}

		.info_item_cinema {
			display: inline-block;
			border-bottom: 3px solid;
			border-right: 3px solid;
			width: 287px;
		}

		.info_item_seat {
			display: inline-block;
			border-bottom: 3px solid;
			border-right: 3px solid;
			width: 153px;
		}

		.info_item_date {
			display: inline-block;
			border-left: 3px solid;
			border-bottom: 3px solid;
			border-right: 3px solid;
			width: 259px;
		}

		.info_item_timestart {
			display: inline-block;
			border-bottom: 3px solid;
			border-right: 3px solid;
			width: 172.5px;
		}

		.info_item_time {
			display: inline-block;
			border-bottom: 3px solid;
			border-right: 3px solid;
			width: 123px;
		}

		.platform {
			display: flexbox;
			float: right;
			width: 142.3px;
			height: 145px;
			border-left: 1px solid;
			border-top: 3px solid;
			border-bottom: 3px solid;
			background: #c02a28;
			color: #fff;
			border-color: #000;
			text-align: center;
		}

		.platform span {
			display: block;
		}

		.platform #Depart {
			font: 900 22px/1 'Montserrat';
			letter-spacing: 1.5px;
		}

		.platform #from {
			font: 900 29px/1 'Montserrat';
			letter-spacing: 3px;
		}

		.platform #flatform {
			font: 900 16px/1.2 'Montserrat';
			letter-spacing: 0.5px;
		}

		.platform .number {
			display: flex;
			padding-left: 30px;
			position: relative;
		}

		.platform .number #number1 {
			position: absolute;
			left: 25px;
			top: -5px;
			font: 900 90px/1 'Old Standard TT';
		}

		.platform .number span {
			font: 900 36px/1 'Old Standard TT';
			position: absolute;
			right: 35px;
		}

		.platform .number #number2 {
			top: -2px;
			border-bottom: 2px solid;
			padding: 0 2px 5px;
		}

		.platform .number #number3 {
			top: 44px;
		}

		.fineprint {
			display: inline-block;
			font-size: 14px;
			font-family: 'Inconsolata';
			line-height: 1;
			margin-top: 1px;
			padding-left: 5px;
			padding-right: 5px;
		}

		.fineprint p {
			padding-top: 5px;
		}

		.barcode {
			display: flexbox;
			float: right;
			padding-top: 5px;
			padding-left: 15px;
		}

		.barcode_scan {
			width: 135px;
			height: 50px;
			background: linear-gradient(to right, #333 2%, #333 4%, transparent 4%, transparent 5%, #333 5%, #333 6%, transparent 6%, #333 6%, #333 8%, transparent 8%, transparent 9%, #333 9%, #333 10.5%, transparent 10.5%, transparent 11%, #333 11%, #333 12%, transparent 12%, transparent 13.5%, #333 13.5%, #333 15%, #333 17%, transparent 17%, transparent 19%, #333 19%, #333 20%, transparent 20%, transparent 21%, #333 21%, #333 22%, transparent 22%, transparent 23.5%, #333 23.5%, #333 25%, transparent 25%, transparent 26.5%, #333 26.5%, #333 27.5%, transparent 27.5%, transparent 28.5%, #333 28.5%, #333 30%, transparent 30%, transparent 32%, #333 32%, #333 34%, #333 36%, transparent 36%, transparent 37.5%, #333 37.5%, #333 40%, transparent 40%, transparent 41.5%, #333 41.5%, #333 43%, transparent 43%, transparent 46%, #333 46%, #333 48%, transparent 48%, transparent 49%, #333 49%, transparent 49%, transparent 50%, #333 50%, #333 51%, transparent 51%, transparent 53%, #333 53%, #333 54.5%, transparent 54.5%, transparent 56%, #333 56%, #333 58%, transparent 58%, transparent 59%, #333 59%, #333 60%, #333 62.5%, transparent 62.5%, transparent 64%, #333 64%, #333 64%, #333 67%, transparent 67%, transparent 69%, #333 69%, #333 70%, transparent 70%, transparent 71%, #333 71%, #333 72%, transparent 72%, transparent 73.5%, #333 73.5%, #333 76%, transparent 76%, transparent 79%, #333 79%, #333 80%, transparent 80%, transparent 82%, #333 82%, #333 82.5%, transparent 82.5%, transparent 84%, #333 84%, #333 87%, transparent 87%, transparent 89%, #333 89%, #333 91%, transparent 91%, transparent 92%, #333 92%, #333 95%, transparent 95%);
		}

		.barcode_id {
			letter-spacing: 4px;
			padding: 2px 0 0;
			color: #c02a28;
			font: 700 16px/1 'Jura';
		}
	</style>
</head>

<body>
	<div class="mainContent">
		<div class="Ticket">
			<div class="ticketMain">
				<div class="ticketHeader">CCG CINEMA</div>
				<div class="Info_Wrap">
					<div class="content">
						<div class="info_item_movie">
							<div class="info_title">MOVIE</div>
							<div class="info_detail">{{name}}</div>
						</div>
						<div class="info_item_price">
							<div class="info_title">PRICE</div>
							<div class="info_detail">{{price}}</div>
						</div>
						<div class="info_item_cinema">
							<div class="info_title">CINEMA</div>
							<div class="info_detail">{{cinema}}</div>
						</div>
						<div class="info_item_seat">
							<div class="info_title">SEAT</div>
							<div class="info_detail">{{seat}}</div>
						</div>
						<div class="info_item_date">
							<div class="info_title">DATE</div>
							<div class="info_detail">{{date}}</div>
						</div>
						<div class="info_item_timestart">
							<div class="info_title">TIME START</div>
							<div class="info_detail">{{timestart}}</div>
						</div>
						<div class="info_item_time">
							<div class="info_title">Time</div>
							<div class="info_detail">{{time}}</div>
						</div>
					</div>
					<div class="platform">
						<span id="Depart">Depart</span>
						<span id="from">from</span>
						<span id="platform">platform</span>
						<div class="number">
							<div id="number1">9</div>
							<div>
								<span id="number2">3</span>
								<span id="number3">4</span>
							</div>
						</div>
					</div>
				</div>
				<div class="Info_Wrap2">
					<div class="fineprint">
						<p>ADDRESS: {{address}}</p>
						<p style="border-top: 1px #000 dashed;">This ticket is Non-refundable • CCG STAR Authority</p>
					</div>
					<div class="barcode">
						<div class="barcode_scan">&nbsp;</div>
						<div class="barcode_id">001256733</div>
					</div>
				</div>
			</div>
		</div>
</body>

</html>